<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= current_page.data.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<%= stylesheet_link_tag 'all.css' %>
	<% if current_page.url == '/' %>
	<!-- Optimizely -->
	<script src="//cdn.optimizely.com/js/585950013.js"></script>
	<% end %>

	<!-- Google Analytics Magic -->
	<!--<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-20226872-1']);
	_gaq.push(['_setDomainName', 'apache.org']);
	_gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>-->
</head>
<body>			
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Apache ServiceMix</a>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Overview</a></li>
				<!-- Overview -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Get Started <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Quickstart guide</a></li>
						<li><a href="#">Download latest release now!&nbsp;&nbsp;<span class="glyphicon glyphicon-fire"></span></a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li class="dropdown-header">Dropdown header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left">
				<input type="text" class="form-control col-lg-8" placeholder="Search">
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="container">

		<!-- magical breadcrumbs -->
		<ul class="breadcrumb">
			<li>
				<div class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Apache Software Foundation <b class="caret"></b></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="http://www.apache.org">Apache Homepage</a></li>
						<li><a href="http://www.apache.org/licenses/">License</a></li>
						<li><a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a></li>  
						<li><a href="http://www.apache.org/foundation/thanks.html">Thanks</a></li>
						<li><a href="http://www.apache.org/security/">Security</a></li>
					</ul>
				</div>
			</li>
			<li><a href="http://mesos.apache.org">Apache Mesos</a></li>
			<% if current_page.data.breadcrumb %>
			<li><a href="/<%= current_page.data.breadcrumb.delete(' ').downcase %>/"><%= current_page.data.breadcrumb %></a></li>
			<% elsif content_for?(:page_title) %>
			<% if yield_content(:page_title) == "Documentation" %>
			<li><a href="/documentation/latest/"><%= yield_content :page_title %></a></li>
			<% else %>
			<li><a href="/<%= yield_content(:page_title).downcase %>/"><%= yield_content :page_title %></a></li>
			<% end %>
			<% end %>
		</ul><!-- /breadcrumb -->

		<%= yield %>

		<hr>

		<!-- footer -->
		<div class="footer">
			<p>&copy; 2012-2013 <a href="http://apache.org">The Apache Software Foundation</a>.
				Apache Mesos, the Apache feather logo, and the Apache Mesos project logo are trademarks of The Apache Software Foundation.<p>
			</div><!-- /footer -->

		</div> <!-- /container -->

		<!-- JS -->
		<%= javascript_include_tag '/assets/js/app.js' %>
	</body>
	</html>